# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
milion-win32-x64/vulkan-1.dll
milion-win32-x64/vk_swiftshader_icd.json
milion-win32-x64/vk_swiftshader.dll
milion-win32-x64/version
milion-win32-x64/v8_context_snapshot.bin
milion-win32-x64/swiftshader/libGLESv2.dll
milion-win32-x64/swiftshader/libEGL.dll
milion-win32-x64/snapshot_blob.bin
milion-win32-x64/resources/app/tsconfig.spec.json
milion-win32-x64/resources/app/tsconfig.json
milion-win32-x64/resources/app/tsconfig.app.json
milion-win32-x64/resources/app/src/test.ts
milion-win32-x64/resources/app/src/styles.css
milion-win32-x64/resources/app/src/polyfills.ts
milion-win32-x64/resources/app/src/main.ts
milion-win32-x64/resources/app/src/index.html
milion-win32-x64/resources/app/src/favicon.ico
milion-win32-x64/resources/app/src/environments/environment.ts
milion-win32-x64/resources/app/src/environments/environment.prod.ts
milion-win32-x64/resources/app/src/assets/win.wav
milion-win32-x64/resources/app/src/assets/Ques.png
milion-win32-x64/resources/app/src/assets/lose.wav
milion-win32-x64/resources/app/src/assets/fan.png
milion-win32-x64/resources/app/src/assets/call.png
milion-win32-x64/resources/app/src/assets/Back3.png
milion-win32-x64/resources/app/src/assets/Back2.png
milion-win32-x64/resources/app/src/assets/Back1.png
milion-win32-x64/resources/app/src/assets/back.mp3
milion-win32-x64/resources/app/src/assets/ansX.png
milion-win32-x64/resources/app/src/assets/ansC.png
milion-win32-x64/resources/app/src/assets/ans2X.png
milion-win32-x64/resources/app/src/assets/ans2Cor.png
milion-win32-x64/resources/app/src/assets/ans2.png
milion-win32-x64/resources/app/src/assets/ans.png
milion-win32-x64/resources/app/src/assets/5050.png
milion-win32-x64/resources/app/src/assets/3.png
milion-win32-x64/resources/app/src/assets/2.png
milion-win32-x64/resources/app/src/assets/1.png
milion-win32-x64/resources/app/src/assets/.gitkeep
milion-win32-x64/resources/app/src/app/start/start.component.ts
milion-win32-x64/resources/app/src/app/start/start.component.spec.ts
milion-win32-x64/resources/app/src/app/start/start.component.html
milion-win32-x64/resources/app/src/app/start/start.component.css
milion-win32-x64/resources/app/src/app/json-typings.d.ts
milion-win32-x64/resources/app/src/app/game-flow/que.json
milion-win32-x64/resources/app/src/app/game-flow/game-flow.component.ts
milion-win32-x64/resources/app/src/app/game-flow/game-flow.component.spec.ts
milion-win32-x64/resources/app/src/app/game-flow/game-flow.component.html
milion-win32-x64/resources/app/src/app/game-flow/game-flow.component.css
milion-win32-x64/resources/app/src/app/end/end.component.ts
milion-win32-x64/resources/app/src/app/end/end.component.spec.ts
milion-win32-x64/resources/app/src/app/end/end.component.html
milion-win32-x64/resources/app/src/app/end/end.component.css
milion-win32-x64/resources/app/src/app/app.module.ts
milion-win32-x64/resources/app/src/app/app.component.ts
milion-win32-x64/resources/app/src/app/app.component.spec.ts
milion-win32-x64/resources/app/src/app/app.component.html
milion-win32-x64/resources/app/src/app/app.component.css
milion-win32-x64/resources/app/src/app/app-routing.module.ts
milion-win32-x64/resources/app/README.md
milion-win32-x64/resources/app/package.json
milion-win32-x64/resources/app/milion2.psd
milion-win32-x64/resources/app/milion1.psd
milion-win32-x64/resources/app/main.js
milion-win32-x64/resources/app/karma.conf.js
milion-win32-x64/resources/app/angular.json
milion-win32-x64/resources/app/.vscode/tasks.json
milion-win32-x64/resources/app/.vscode/launch.json
milion-win32-x64/resources/app/.vscode/extensions.json
milion-win32-x64/resources/app/.gitattributes
milion-win32-x64/resources/app/.editorconfig
milion-win32-x64/resources/app/.browserslistrc
milion-win32-x64/resources.pak
milion-win32-x64/milion.exe
milion-win32-x64/locales/zh-TW.pak
milion-win32-x64/locales/zh-CN.pak
milion-win32-x64/locales/vi.pak
milion-win32-x64/locales/uk.pak
milion-win32-x64/locales/tr.pak
milion-win32-x64/locales/th.pak
milion-win32-x64/locales/te.pak
milion-win32-x64/locales/ta.pak
milion-win32-x64/locales/sw.pak
milion-win32-x64/locales/sv.pak
milion-win32-x64/locales/sr.pak
milion-win32-x64/locales/sl.pak
milion-win32-x64/locales/sk.pak
milion-win32-x64/locales/ru.pak
milion-win32-x64/locales/ro.pak
milion-win32-x64/locales/pt-PT.pak
milion-win32-x64/locales/pt-BR.pak
milion-win32-x64/locales/pl.pak
milion-win32-x64/locales/nl.pak
milion-win32-x64/locales/nb.pak
milion-win32-x64/locales/ms.pak
milion-win32-x64/locales/mr.pak
milion-win32-x64/locales/ml.pak
milion-win32-x64/locales/lv.pak
milion-win32-x64/locales/lt.pak
milion-win32-x64/locales/ko.pak
milion-win32-x64/locales/kn.pak
milion-win32-x64/locales/ja.pak
milion-win32-x64/locales/it.pak
milion-win32-x64/locales/id.pak
milion-win32-x64/locales/hu.pak
milion-win32-x64/locales/hr.pak
milion-win32-x64/locales/hi.pak
milion-win32-x64/locales/he.pak
milion-win32-x64/locales/gu.pak
milion-win32-x64/locales/fr.pak
milion-win32-x64/locales/fil.pak
milion-win32-x64/locales/fi.pak
milion-win32-x64/locales/fa.pak
milion-win32-x64/locales/et.pak
milion-win32-x64/locales/es.pak
milion-win32-x64/locales/es-419.pak
milion-win32-x64/locales/en-US.pak
milion-win32-x64/locales/en-GB.pak
milion-win32-x64/locales/el.pak
milion-win32-x64/locales/de.pak
milion-win32-x64/locales/da.pak
milion-win32-x64/locales/cs.pak
milion-win32-x64/locales/ca.pak
milion-win32-x64/locales/bn.pak
milion-win32-x64/locales/bg.pak
milion-win32-x64/locales/ar.pak
milion-win32-x64/locales/am.pak
milion-win32-x64/LICENSES.chromium.html
milion-win32-x64/LICENSE
milion-win32-x64/libGLESv2.dll
milion-win32-x64/libEGL.dll
milion-win32-x64/icudtl.dat
milion-win32-x64/ffmpeg.dll
milion-win32-x64/d3dcompiler_47.dll
milion-win32-x64/chrome_200_percent.pak
milion-win32-x64/chrome_100_percent.pak
milion-win32-x64/resources/app/.vscode/tasks.json
milion-win32-x64/resources/app/.vscode/launch.json
milion-win32-x64/resources/app/.vscode/extensions.json
milion-win32-x64/resources/app/.vscode/tasks.json
milion-win32-x64/resources/app/.vscode/launch.json
milion-win32-x64/resources/app/.vscode/extensions.json
