<div class="homee">
    
  <div class="btns">
    <button class="dis" disabled>
      <img src="assets/5050.png"  class="i1"/>
    </button>
    <button class="btn">
      <img src="assets/call.png" class="i2"/>
    </button>
    <button class="btn">
      <img src="assets/fan.png"  class="i3" />
    </button>
  </div>
  <div class="leveldiv">
    <span class="level2"id="15">15&nbsp;&nbsp;&nbsp;&nbsp;1,000,000</span>  
    <span class="level"id="14">14&nbsp;&nbsp;&nbsp;&nbsp;500,000</span>  
    <span class="level"id="13">13&nbsp;&nbsp;&nbsp;&nbsp;250,000</span>  
    <span class="level"id="12">12&nbsp;&nbsp;&nbsp;&nbsp;125,000</span>  
    <span class="level"id="11">11&nbsp;&nbsp;&nbsp;&nbsp;64,000</span>  
    <span class="level2"id="10">10&nbsp;&nbsp;&nbsp;&nbsp;32,000</span>  
    <span class="level"id="9">9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16,000</span>  
    <span class="level"id="8">8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8,000</span>  
    <span class="level"id="7">7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4,000</span>  
    <span class="level"id="6">6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2,000</span>  
    <span class="level2"id="5">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,000</span>  
    <span class="level"id="4">4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500</span>  
    <span class="level"id="3">3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300</span>  
    <span class="level"id="2">2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200</span>  
    <span class="level" id="1">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100</span>  
    
</div>
</div>

  <div class="container ques">
    <img src="assets/Ques.png" alt="" style="width:100%;">
    <div class="centered">
      {{currentQuestion}}
    </div>
  
  </div>

  <div class="ansContainer">
    <div (click)="handle('b')" class="container answer" id="db">
      <img src="assets/ans.png" alt="" style="width:100%;"id="b">
      <div class="centered ans">
        {{currentAnswerB}}
      </div>
    </div>

    <div (click)="handle('a')" class="container answer" id="da">
      <img src="assets/ans.png" alt="" style="width:100%;"id="a">
      <div class="centered ans">
        {{currentAnswerA}}
      </div>
    </div>

  </div>
  <div class="ansContainer">
    <div (click)="handle('d')" class="container answer" id="dd">
      <img src="assets/ans.png" alt="" style="width:100%;"id="d">
      <div class="centered ans">
        {{currentAnswerD}}
      </div>
    </div>

    <div (click)="handle('c')" class="container answer" id="dc" >
      <img src="assets/ans.png" alt="" style="width:100%;"id="c">
      <div class="centered ans">
        {{currentAnswerC}}
      </div>
    </div>

  </div>
