<div class="homee">
    
  <div class="btns">
    <button class="dis" disabled>
      <img src="assets/5050.png"  class="i1"/>
    </button>
    <button class="btn">
      <img src="assets/call.png" class="i2"/>
    </button>
    <button class="btn">
      <img src="assets/fan.png"  class="i3" />
    </button>
  </div>
  <div class="leveldiv">
    <span class="level2">15&nbsp;&nbsp;&nbsp;&nbsp;1,000,000</span>  
    <span class="level">14&nbsp;&nbsp;&nbsp;&nbsp;500,000</span>  
    <span class="level">13&nbsp;&nbsp;&nbsp;&nbsp;250,000</span>  
    <span class="level">12&nbsp;&nbsp;&nbsp;&nbsp;125,000</span>  
    <span class="level">11&nbsp;&nbsp;&nbsp;&nbsp;64,000</span>  
    <span class="level2">10&nbsp;&nbsp;&nbsp;&nbsp;32,000</span>  
    <span class="level">9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16,000</span>  
    <span class="level">8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8,000</span>  
    <span class="levelat">7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4,000</span>  
    <span class="level">6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2,000</span>  
    <span class="level2">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,000</span>  
    <span class="level">4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500</span>  
    <span class="level">3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300</span>  
    <span class="level">2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200</span>  
    <span class="level">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100</span>  
    
</div>
</div>

  <div class="ans">
    <span class="ques">
      {{currentQuestion}}
    </span>
  
  </div>
