.homee{
    display: flex;
    height: 200px;
}

.btns{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 45%;
}


.dis{
    opacity: 0;
    cursor: not-allowed;  
    border-radius: 50%;
    border :12px solid #1b88e7;
    background-color:black;
    text-align: center;
    height: 160px;
    width: 200px;

}


.btn
{
    opacity: 0;
    text-align: center;
    height: 160px;
    width: 200px;
    background-color:black;
    border-radius: 50%;
    border :12px solid #1b88e7;
    transition-duration: 0.4s;

}

.btn:hover
{
    background-color:rgb(212, 210, 96);
    border-radius: 50%;
}

.i1
{
    height :40px;
    width: 120px;
}
.i2
{
    height :90px;
    width: 120px;
}
.i3
{
    height :80px;
    width: 120px;
}
.leveldiv{
    display: flex;
    flex-flow: column nowrap;
    direction: rtl;
}
.level{
    font-size: 1.4vw;
    color: gold;
}
.level2{
    font-size:1.4vw;
    color: white;
}
.levelat{
    color: black;
    background-color: gold;
    font-size: 1.4vw;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    position: relative;
    text-align: center;
    color: white;

  }
  .ques{
    font-size: 2.3vw;
    margin:12% 0% auto;
  }
  .ansContainer{
      display: flex;
      flex-flow: row nowrap;
  }
  .ans{
    font-size: 2vw;
  }
  .answer{

  }
  .answer:hover{
    filter: invert(100%);
  }